.btn {
    display: inline-block;
    border: none;
    color: white;
    font-weight: bold;
    font-size: 1rem;
    text-transform: uppercase;
    height: 60px;
    max-height: 60px;
    width: 100%;
}

.btn--info {
    background-color: #0C558B;
}

.btn--success {
    background-color: #19AA8C;
}