.credit {
    background: #033B67;
    min-height: 90vh;
    min-width: 370px;
    padding: 4rem;
}

.credit__result {
    margin: 4.5rem 0 0 0;
}

.credit__actions {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-gap: 10px;
}